<div class="podcast-audio-player">
  <div class="player-description">
    <p>{{ ctrl.podcast.title }}</p>
    <p>{{ ctrl.podcast.channel }}</p>
  </div>
  <div class="player-audio">
    <audio controls="controls" id="audioPlayer" class="audio">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="player-controls">
    <div ng-click="ctrl.previous()" class="player-button"><img src="/app/assets/prev.png" alt="Previous" /></div>
    <div ng-click="ctrl.skipBackwards()" class="player-button"><img src="/app/assets/skipback.png" alt="Skip Backwards" /></div>
    <div ng-click="ctrl.changeSpeed()" class="player-button"><img src="/app/assets/speed.png" alt="Speed" /><span class="speed-button">x{{ ctrl.player.playbackRate}}</span></div>
    <div ng-click="ctrl.skipForwards()" class="player-button"><img src="/app/assets/skipforward.png" alt="Skip Forward" /></div>
    <div ng-click="ctrl.next()" class="player-button"><img src="/app/assets/next.png" alt="Next" /></div>
    <div class="player-button"><img src="/app/assets/favorite.png" alt="Favorite" /></div>
    <div ng-click="ctrl.toggleAutoplay()" class="player-button"><img src="/app/assets/autoplay.png" alt="Autoplay" /></div>
  </div>
</div>