<div class="podcast-audio-player">
  <div class="player-description">
    <p>{{ ctrl.podcast.title }}</p>
    <p>{{ ctrl.podcast.channel }}</p>
  </div>
  <div class="player-audio">
    <audio controls="controls" id="audioPlayer" class="audio">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="player-controls">
    <div ng-click="ctrl.previous()">Previous</div>
    <div ng-click="ctrl.skipBackwards()">Skip Backwards</div>
    <div ng-click="ctrl.changeSpeed()">Speed x{{ ctrl.player.playbackRate}}</div>
    <div ng-click="ctrl.skipForwards()">Skip Forwards</div>
    <div>Next</div>
  </div>
</div>