<div>
  <div class="player-description">
    <p>TITLE</p>
    <p>CHANNEL</p>
  </div>
  <div class="player-audio">
    <audio controls="controls" id="audioPlayer" class="audio">
        <source src="https://r4---sn-vgqs7nly.googlevideo.com/videoplayback?keepalive=yes&dur=220.061&pl=20&source=youtube&ms=au&id=o-AARenn1qt25nlNkQ6_sNriHynfOEt3G6kiQx3VZ4zVPp&ei=TrPFWKinAsOvugLnxriABg&mv=u&mt=1489351238&mn=sn-vgqs7nly&signature=C85743619F86383A302EF2C86E6D7EA79BE4F4DD.2DD8AF41C00CAC24CDA78D65B664965790DD3C09&gir=yes&ip=104.197.39.255&key=yt6&upn=CndmvBub1jA&itag=251&mm=31&beids=%5B9465691%5D&expire=1489373102&sparams=clen%2Cdur%2Cei%2Cgir%2Cid%2Cip%2Cipbits%2Citag%2Ckeepalive%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Crequiressl%2Csource%2Cupn%2Cexpire&ipbits=0&requiressl=yes&clen=3558511&mime=audio%2Fwebm&lmt=1449574919911267&ratebypass=yes&title=The+Game+%26+Skrillex+-++El+Chapo">
        Your browser does not support the audio element.
      </audio>
  </div>
  <div class="player-controls">
    <div ng-click="ctrl.previous()">Previous</div>
    <div ng-click="ctrl.skipBackwards()">Skip Backwards</div>
    <div ng-click="ctrl.changeSpeed()">Speed x{{ ctrl.player.playbackRate}}</div>
    <div ng-click="ctrl.skipForwards()">Skip Forwards</div>
    <div>Next</div>
  </div>
</div>