<div class="container" id="app">
  <top search-youtube="ctrl.searchYoutube"></top>
  <search-results video-search-results="ctrl.videos" add-to-playlist="ctrl.addToPlaylist"></search-results>
  <podcast-player podcast="ctrl.currentPodcast" audio="ctrl.currentAudio" podcast-playlist="ctrl.playlist" select-video="ctrl.selectVideo"></podcast-player>
  <playlist podcast-list="ctrl.playlist" select-video="ctrl.selectVideo" remove-from-playlist="ctrl.removeFromPlaylist"></playlist>
  <footer></footer>
</div>